<div class="row">
  <div class="small-7 columns">
    <%= render partial: "employee_details" %>
  </div>
  <div class="small-5 columns">
    <%= render partial: "assignment_history" %>
    <% if can? :create, Assignment %>
      <%= link_to 'Add an Assignment', new_assignment_path(employee_id: @employee.id), class: "button", id: "new_employee_assignment_link", remote: true %>
    <% end %>
  </div>
</div>

<%= render partial: "partials/object_options", locals: {model_name: "employee", object: @employee}  %>
