<h2>Welcome To Arachnid Man Creamery</h2>
<br />
<div class="row">
	<div class="small-7 columns">
		<p>
			A &amp; M Creamery is one of the smallest, but absolutely best, chain of 
			ice cream shops we know in the Greater Pittsburgh area.
			If you like arachnids and ice cream, this is the place for you. If you ever
			recieve your order without an arachnid in it, we will refund 200% of your
			purchase price. We pride outselves in the stickiest of service and prices
			that will literally have you wrapped up. 
		</p>
	</div>
	<div class="small-5 columns">

	</div>
</div>

<div class="row">
	<div class="small-6 columns">
		<%= render :partial => 'stores/active_stores' %>				
	</div>
	<div class="small-6 columns">
		<%= render :partial => 'flavors/list_flavors' %>						
	</div>	
</div>		

