<div class="row">
	<div class="small-7 columns">
		<fieldset>
			<legend><h3>Contact Arachnid Man Creamery</h3></legend>
			<p class="supertiny">&nbsp;</p>
			<table cellpadding="3">
				<tr>
					<td>Webmaster:</td>
					<td>Jeremy Lee</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>
					<%= mail_to("jalee@cmu.edu", "Germ", :encode => "javascript") %> 
					</td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td>408-940-5604</td>
				</tr>
			</table>
			<p class="note"><br>I am a student at Carnegie Mellon University.</p>			
		</fieldset>

	</div>
</div>
